.card{
    width: 400px;
    height:200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid black;
    margin: 24px;
}
.card-img img{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.card-title{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 16px;
}