.header {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--primary-color);
}

.header ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header ul li {
  list-style: none;
  padding: 1rem 2rem;
  font-size: 1.4rem;
}
