.landing-carousel {
  width: 100%;
  height: 76vh;
  background-color: whitesmoke;
}

.block-up--1,
.block-up--3,
.block-down--2 {
  display: grid;
  place-items: center;
  text-align: center;
  align-content: center;
}

.block-up--2 {
  border-top-left-radius: 3rem;
  overflow: hidden;
}

.block-up--1 {
  text-align: center;
}

.block-up--3 {
  color: white;
  padding: 1rem;
  background: linear-gradient(
      105deg,
      rgb(0, 57, 163, 0.85),
      rgb(0, 57, 163, 0.9)
    ),
    url(../../../images/IntroImages/block2.jpg);
}

.as {
  height: 100%;
  width: 100%;
  background-color: blue;
}

.as--1 {
  background: linear-gradient(105deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(../../../images/IntroImages/block1.png);
  background-position: center;
  background-size: cover;
}
.as--2 {
  background: linear-gradient(105deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(../../../images/IntroImages/block2.jpg);
  background-position: center;
  background-size: cover;
}
.as--3 {
  background: linear-gradient(105deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(../../../images/IntroImages/block3.jpg);
  background-position: center;
  background-size: cover;
}

.block-down--1 {
  background-color: orange;
  background: linear-gradient(105deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(../../../images/IntroImages/block2.jpg);
  background-position: center;
  background-size: cover;
}

.block-down--2 {
  padding: 2rem;
  border-bottom-right-radius: 3rem;

  background: linear-gradient(
      105deg,
      rgba(255, 0, 0, 0.6),
      rgba(255, 0, 0, 0.85)
    ),
    url(../../../images/IntroImages/block1.png);
}

.block-down--3 {
  background-color: whitesmoke !important;
}

.as {
  padding: 4rem;
}

.block-up--3 > *,
.block-down--2 > * {
  color: white !important;
}

.school-name-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin-top: -4rem;
}
.school-name-logo > h2 {
  font-weight: 900;
  font-size: 2.4rem;
}
